# Use root/example as user/password credentials
version: '3.7'

services:

  db:
    image: postgres:17
    container_name: sandbox-postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: sandbox
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d sandbox"]
      interval: 5s
      timeout: 5s
      retries: 5

  nats:
    image: nats:2.9.11-alpine
    container_name: sandbox-jetstream
    restart: unless-stopped
    ports:
      - '4222:4222'
      - '6222:6222'
      - '8222:8222'
    command: ["--cluster_name", "sandbox", "--jetstream", "-DV", "-m", "8222"]

  jaeger:
    container_name: guardian-jaeger
    image: jaegertracing/all-in-one:1.28.0
    restart: unless-stopped
    environment:
      COLLECTOR_ZIPKIN_HOST_PORT: 9411
    ports:
      - '5775:5775/udp'
      - '6831:6831/udp'
      - '6832:6832/udp'
      - '5778:5778'
      - '16686:16686'
      - '14250:14250'
      - '14268:14268'
      - '14269:14269'
      - '9411:9411'
      - '4317:4317'

volumes:
  pgdata:
